# Configuration file

##########################################################################################################
# both
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by both.
# Client can be different from server.
# If client differs from server, server can disable client's setting if false.
##########################################################################################################

both {
    B:"Should the mod be used?"=true
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings controlled client.
# Can vary from server to server.
##########################################################################################################

client {
    B:hasParticles=true
    S:tableParticles=portal
}


##########################################################################################################
# enchantments
#--------------------------------------------------------------------------------------------------------#
# Enchantments can be disabled to be enchantable in the table.
# Controlled on the server side
##########################################################################################################

enchantments {
    B:"Eternal Compass"=true
    S:"Eternal Compass-ToolTip"=
    B:Reading=true
    S:Reading-ToolTip=
    B:enchantment.arrowDamage=true
    S:enchantment.arrowDamage-ToolTip=
    B:enchantment.arrowFire=true
    S:enchantment.arrowFire-ToolTip=
    B:enchantment.arrowInfinite=true
    S:enchantment.arrowInfinite-ToolTip=
    B:enchantment.arrowKnockback=true
    S:enchantment.arrowKnockback-ToolTip=
    B:enchantment.damage.all=true
    S:enchantment.damage.all-ToolTip=
    B:enchantment.damage.arthropods=true
    S:enchantment.damage.arthropods-ToolTip=
    B:enchantment.damage.undead=true
    S:enchantment.damage.undead-ToolTip=
    B:enchantment.digging=true
    S:enchantment.digging-ToolTip=
    B:enchantment.durability=true
    S:enchantment.durability-ToolTip=
    B:enchantment.fire=true
    S:enchantment.fire-ToolTip=
    B:enchantment.fishingSpeed=true
    S:enchantment.fishingSpeed-ToolTip=
    B:enchantment.knockback=true
    S:enchantment.knockback-ToolTip=
    B:enchantment.lootBonus=true
    S:enchantment.lootBonus-ToolTip=
    B:enchantment.lootBonusDigger=true
    S:enchantment.lootBonusDigger-ToolTip=
    B:enchantment.lootBonusFishing=true
    S:enchantment.lootBonusFishing-ToolTip=
    B:enchantment.me.antivenom=true
    S:enchantment.me.antivenom-ToolTip=
    B:enchantment.me.blast=true
    S:enchantment.me.blast-ToolTip=
    B:enchantment.me.cloud=true
    S:enchantment.me.cloud-ToolTip=
    B:enchantment.me.disarm=true
    S:enchantment.me.disarm-ToolTip=
    B:enchantment.me.edged=true
    S:enchantment.me.edged-ToolTip=
    B:enchantment.me.greenwood=true
    S:enchantment.me.greenwood-ToolTip=
    B:enchantment.me.heat=true
    S:enchantment.me.heat-ToolTip=
    B:enchantment.me.highjump=true
    S:enchantment.me.highjump-ToolTip=
    B:enchantment.me.homing=true
    S:enchantment.me.homing-ToolTip=
    B:enchantment.me.horticulture=true
    S:enchantment.me.horticulture-ToolTip=
    B:enchantment.me.icestep=true
    S:enchantment.me.icestep-ToolTip=
    B:enchantment.me.leech=true
    S:enchantment.me.leech-ToolTip=
    B:enchantment.me.magnet=true
    S:enchantment.me.magnet-ToolTip=
    B:enchantment.me.nightvision=true
    S:enchantment.me.nightvision-ToolTip=
    B:enchantment.me.photosynthesis=true
    S:enchantment.me.photosynthesis-ToolTip=
    B:enchantment.me.poisonaoe=true
    S:enchantment.me.poisonaoe-ToolTip=
    B:enchantment.me.poisonarrow=true
    S:enchantment.me.poisonarrow-ToolTip=
    B:enchantment.me.poisonaspect=true
    S:enchantment.me.poisonaspect-ToolTip=
    B:enchantment.me.quickdraw=true
    S:enchantment.me.quickdraw-ToolTip=
    B:enchantment.me.regen=true
    S:enchantment.me.regen-ToolTip=
    B:enchantment.me.sharpshooter=true
    S:enchantment.me.sharpshooter-ToolTip=
    B:enchantment.me.slowaoe=true
    S:enchantment.me.slowaoe-ToolTip=
    B:enchantment.me.slowarrow=true
    S:enchantment.me.slowarrow-ToolTip=
    B:enchantment.me.slowaspect=true
    S:enchantment.me.slowaspect-ToolTip=
    B:enchantment.me.steadfast=true
    S:enchantment.me.steadfast-ToolTip=
    B:enchantment.me.swiftness=true
    S:enchantment.me.swiftness-ToolTip=
    B:enchantment.me.verticallity=true
    S:enchantment.me.verticallity-ToolTip=
    B:enchantment.me.vigor=true
    S:enchantment.me.vigor-ToolTip=
    B:enchantment.me.wisdom=true
    S:enchantment.me.wisdom-ToolTip=
    B:enchantment.me.witheraoe=true
    S:enchantment.me.witheraoe-ToolTip=
    B:enchantment.me.witherarrow=true
    S:enchantment.me.witherarrow-ToolTip=
    B:enchantment.me.witheraspect=true
    S:enchantment.me.witheraspect-ToolTip=
    B:enchantment.oxygen=true
    S:enchantment.oxygen-ToolTip=
    B:enchantment.protect.all=true
    S:enchantment.protect.all-ToolTip=
    B:enchantment.protect.explosion=true
    S:enchantment.protect.explosion-ToolTip=
    B:enchantment.protect.fall=true
    S:enchantment.protect.fall-ToolTip=
    B:enchantment.protect.fire=true
    S:enchantment.protect.fire-ToolTip=
    B:enchantment.protect.projectile=true
    S:enchantment.protect.projectile-ToolTip=
    B:enchantment.thorns=true
    S:enchantment.thorns-ToolTip=
    B:enchantment.untouching=true
    S:enchantment.untouching-ToolTip=
    B:enchantment.waterWorker=true
    S:enchantment.waterWorker-ToolTip=
}


##########################################################################################################
# server
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by server.
##########################################################################################################

server {
    B:"Are bookshelves required to do an enchantment?"=true
    I:"At when level do players need to have bookshelves?"=5
    B:"Can players disenchant items they have not enchanted?"=false
    B:"Can the table disenchant items?"=true
    B:"Can the table enchant damaged items?"=true
    B:"Can the table repair items?"=true
    B:"Disregard item type?"=false
    D:"How blast resistant is the table?"=2000.0
    D:"How long to break the table?"=5.0
    B:"Should the table have light?"=true
    I:"What is the cost factor?"=5
    I:"What is the repair factor"=5
}


