# Configuration file

abilities {
    # Acrobatics Ability ID [range: 0 ~ 2147483647, default: 122]
    I:"Acrobatics ID"=122

    # Archery Ability ID [range: 0 ~ 2147483647, default: 98]
    I:"Archery ID"=98

    # Bleeding Ability ID [range: 0 ~ 2147483647, default: 75]
    I:"Bleeding ID"=75

    # Death ID [range: 0 ~ 2147483647, default: 107]
    I:"Death ID"=107

    # Fire Resistance Ability ID [range: 0 ~ 2147483647, default: 88]
    I:"Fire Resistance ID"=88

    # Flight 2 Ability ID [range: 0 ~ 2147483647, default: 126]
    I:"Flight 2 ID"=126

    # Flight Ability ID [range: 0 ~ 2147483647, default: 90]
    I:"Flight ID"=90

    # Freeze Breath Ability ID [range: 0 ~ 2147483647, default: 77]
    I:"Freeze Breath ID"=77

    # Frozen Ability ID [range: 0 ~ 2147483647, default: 74]
    I:"Frozen ID"=74

    # Health Boost Ability ID [range: 0 ~ 2147483647, default: 123]
    I:"Health ID"=123

    # Horizon ID [range: 0 ~ 2147483647, default: 106]
    I:"Horizon ID"=106

    # Intangibility Ability ID [range: 0 ~ 2147483647, default: 78]
    I:"Intangibility ID"=78

    # Invisibility Ability ID [range: 0 ~ 2147483647, default: 92]
    I:"Invisibility ID"=92

    # Jump Boost Ability ID [range: 0 ~ 2147483647, default: 93]
    I:"Jump Boost ID"=93

    # Kryptonite Ability ID [range: 0 ~ 2147483647, default: 124]
    I:"Kryptonite ID"=124

    # Laser Vision Ability ID [range: 0 ~ 2147483647, default: 76]
    I:"Laser Vision ID"=76

    # Low Gravity Ability ID [range: 0 ~ 2147483647, default: 101]
    I:"Low Gravity ID"=101

    # Magic Ability ID [range: 0 ~ 2147483647, default: 97]
    I:"Magic ID"=97

    # Makluan Rings ID [range: 0 ~ 2147483647, default: 105]
    I:"Makluan Rings ID"=105

    # Martian Vision Ability ID [range: 0 ~ 2147483647, default: 99]
    I:"Martian Vision ID"=99

    # Negative Speed Force Ability ID [range: 0 ~ 2147483647, default: 81]
    I:"Negative Speed Force ID"=81

    # Omega Effect Ability ID [range: 0 ~ 2147483647, default: 125]
    I:"Omega Effect ID"=125

    # Optic Beam Ability ID [range: 0 ~ 2147483647, default: 100]
    I:"Optic Beam ID"=100

    # Psychic Shield ID [range: 0 ~ 2147483647, default: 111]
    I:"Psychic Shield ID"=111

    # Regen Ability ID [range: 0 ~ 2147483647, default: 94]
    I:"Regen ID"=94

    # Size Enhancement Ability ID [range: 0 ~ 2147483647, default: 95]
    I:"Size Enhancement ID"=95

    # Size Reduction Ability ID [range: 0 ~ 2147483647, default: 96]
    I:"Size Reduction ID"=96

    # Slowness ID [range: 0 ~ 2147483647, default: 104]
    I:"Slowness ID"=104

    # Smokescreen Ability ID [range: 0 ~ 2147483647, default: 73]
    I:"Smokescreen ID"=73

    # Speed Force Ability ID [range: 0 ~ 2147483647, default: 80]
    I:"Speed Force ID"=80

    # Speed Ability ID [range: 0 ~ 2147483647, default: 85]
    I:"Speed ID"=85

    # Spider-Sense ID [range: 0 ~ 2147483647, default: 103]
    I:"Spider-Sense ID"=103

    # Stealth Ability ID [range: 0 ~ 2147483647, default: 91]
    I:"Stealth ID"=91

    # Strength Ability ID [range: 0 ~ 2147483647, default: 84]
    I:"Strength ID"=84

    # Suffocation Ability ID [range: 0 ~ 2147483647, default: 127]
    I:"Suffocation ID"=127

    # Telepath ID [range: 0 ~ 2147483647, default: 110]
    I:"Telepath ID"=110

    # Teleportation Ability ID [range: 0 ~ 2147483647, default: 102]
    I:"Teleportation ID"=102

    # Water Breathing Ability ID [range: 0 ~ 2147483647, default: 89]
    I:"Water Breathing ID"=89
}


biomes {
    # Arctic Biome ID [range: 0 ~ 2147483647, default: 150]
    I:"Arctic Biome ID"=150

    # Space Biome ID [range: 0 ~ 2147483647, default: 153]
    I:"Space Biome ID"=153
}


"game rules" {
    # Are suits allowed to use the custom renderer (for animations, etc)? [default: true]
    B:"Custom Renderer"=true
}


